* {
    box-sizing: border-box;

}

.parent {
    display: flex;
    width: 50%;
    margin: auto;
    background-color: whitesmoke;
    border-radius: 13px;
    max-height: 500px;
    margin-top: 5%;
    /* padding: 20px; */
  }

.content{
margin-left: 30px;
}

  .img {
    max-height: 500px;
    width: 100%;
    margin: auto;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    margin-right: 20px;
  }

  body {
    background-color: beige;
  }

  .one {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(105, 102, 102);
    font-size: 15px;
    margin-top: 10%;
  }

  .two {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
    font-weight: 700;
  }

  .three {
    color: rgb(12, 97, 12);
    font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
    font-weight: 400;
    font-size: 40px;
    /* display: inline; */
  }

  .four {
    text-decoration: line-through;
    color: rgb(72, 70, 70);
    font-size: 20px;
    margin-left: 10px;
  }
.five {
    background-color: rgb(12, 97, 12);
    width: 150px;
    height: 40px;
    color: whitesmoke;
  }
  
  .six {
    display: none;
    background-color: rgb(12, 97, 12);
    width: 150px;
    height: 40px;
    color: whitesmoke;
  }

  button {
    border: none;
  }
  
  @media only screen and (max-width: 768px) {
    .parent {
      display: block; 
      /* flex-direction: column;   */
      /* height: 80%; */
      /* width: 20%; */
    }
    
    .img{
      border-radius: 10px 10px 0 0;
      height: 250px;
      width: 100%;
    }
    
    .one{
      text-align: center;
        margin: auto;
        font-size: 14px;
      }
      
      .two{
        /* display: inline; */
        font-size: 20px;
        padding: 5px;
        text-align: center;   
      }
      
      .content{
        margin: 0;
      } 
      
      br {
        display: none;
      }
      
      .three {
        font-size: 25px;
        font-weight: 400;
        color: rgb(72, 70, 70);
        margin-right: 5px;
        text-align: center;
      }
      
      .six {
        display: inline;  
        margin: 0 0 20px 80px;
        border-radius: 5px;
        /* margin-bottom: 10px; */
        height: 40px;
        width: 180px;
      }

      .five {
        display: none;
      }

    /* body {
      width: 500px;
      height: 700px;
    } */
  }
  
  @media only screen and (min-width:769px) and (max-width: 1000px) {
    .img {
      width: 110%;
      height: 500px;
    }
    
    body {
      background-color: rgb(15, 86, 55);
    }
    
    .one{
      text-align: center;
      font-size: 18px;
    }
    
    .two{
      /* display: inline; */
      font-size: 24px;
      padding: 5px;
      text-align: center;   
    }
    
    br {
      display: none;
    }
    
    .three {
      font-size: 30px;
      font-weight: 400;
      color: rgb(12, 97, 12);
      margin-right: 5px;
      /* text-align: center; */
    }
  }
  
  